html
 head
  title Success
  style
   include static/SuccessResponse.css
 body
  div(class="container")
   div(class="wrapper")
    p(class="para") Form Submitted Successfully
    a(class="go-back" href=source) Go Back