html
 head
  title Form Submission
  style
   include ./css/FormData.css
body
 div(class="container")
  h1(class="heading") DEVFORMS
  p(class="paragraph") Someone Just submitted form on your website, take a look :-
  ul(class="list")
   each val,key in data
    li(class="list-item")
     span(class="key")=key+' : '
     span(class="val")=val
   
 